
.icon-link:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-dot-3:before { content: '\e802'; } /* '' */
.icon-up-micro:before { content: '\e803'; } /* '' */
.icon-down-micro:before { content: '\e804'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */