$backgroundColor: #090e29;
$activeColor: #fff;
$inactiveColor: darken($activeColor, 25%);
$navLinksHeight: 45px;
$navLinksWidth: 200px;
$sideNavDetails: #90ee90 1, #f08080 2, #add8e6 3;
$sqrsTrnDrtn: 0.1s;

$grid-gutter-width: 0.5rem;
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 1000px,
  xl: 1200px,
);
