* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./partials/variables.scss";
@import "./partials/mixins.scss";

body {
  background-color: $backgroundColor !important;
  font-family: "Lato", sans-serif !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./partials/App.scss";
@import "./partials/layouts/Navigation.scss";
@import "./partials/layouts/Sidebar.scss";
@import "./partials/pages/HomePage.scss";
@import "./partials/subpages/SamplePage.scss";

@import "./fontello/css/fontello";
